* {
    margin: 0;
    padding: 0;
  }

.carrito {
    padding-top: 0px;
    width: 70px;
  }
  
  .contenedorCarrito{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encimaCarrito{
    position: absolute;
    top: 23px;
    left: 13px;
}
