* {
    margin: 0;
    padding: 0;
  }

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

.container {
	display: grid;
  grid-template-columns: 200px 200px 200px 100px;
  justify-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  margin-top: 10px;
}

a{
  color: black;
  font-weight: 800;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  text-decoration: none;
}

.containerGlobal {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

header {
  background: gray;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  left: 0;
  top: 0;
 width: 100%
}


.logito {
  float: left;
  padding: 16px 0;;
  width: 120px;
}



.carrito {
  padding-top: 7px;
  width: 50px;
}


.activeClass {
  color: rgb(255, 255, 255);
}

a:hover{
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  text-decoration: none;
}