.contenedor{
    border: 2px solid rgb(0, 0, 0);
    display:flex;
    justify-content: center;
}

#buttonCard{
    margin: 5px;
    width: 50px;
}

p{
    color:rgb(0, 0, 0);
}

h3{
    color:rgb(0, 0, 0);
    margin-top: 10px;
}
